#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1EA7FD;
    color: #1C2A44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button {
    padding: 26px 24px;
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    transition: 0.25s;
    border: none;
    background-color: #1EA7FD;
    color: #1C2A44;
    font-family: 'Oswald', 'Arial';
}

button:hover {
    background-color: #1B96E4;
    cursor: pointer;
}

#logo {
    width: 60px;
    padding: 11px;
    transition: 0.25s;
}

#logo:hover {
    background-color: #1B96E4;
    cursor: pointer;
}

h2 {
    font-size: 30px;
    margin: 0;
}

.active-body {
    position: relative;
}

.active-body::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px; 
    background: #1886CA;
}

#body-container {
    max-width: 1300px;
    margin: 114px auto 0 auto;
    padding: 0 24px;
}