.rankings-table {
    border-collapse: collapse;
    width: 90%;
    margin: 0px auto 104px auto;
    min-width: 500px;
}

.rankings-table td {
    border: 1px solid #dddddd;
    padding: 2px;
    text-align: center;
    position: relative;
}

.rankings-table th {
    outline: 1px solid #dddddd;
    padding: 2px;
    text-align: center;
    background-color: #f4f4f4;
    font-weight: bold;
    position: sticky;
    z-index: 1;
    top: 81px;
}

.rankings-table tr {
    background-color: #FFFFFF;
}

.rankings-table tr:hover {
    background-color: #D2EDFF;
}

.rankings-table .even-tier {
    background-color: #f4f4f4;
}

.player-line {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 4px;
}

.player-img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    background-color: #dddddd;
    border-radius: 25px;
    margin-right: 8px;
}

.even-tier .player-img {
    background-color: #cecece;
}

.player-name {
    font-weight: 500;
}

#table-filters {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    width: 60%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#table-filters button {
    font-family: 'Oswald', 'Arial';
    font-size: 16px;
    border-radius: 40px;
    padding: 4px 16px;
    transition: 0.15s;
    background-color: #FFFFFF;
    border:1px solid #E5E7EB;
    margin: 0 2px;
}

#table-filters button:hover {
    background-color: #d2d2d2;
    cursor: pointer;
}

#table-filters .current-position {
    color: #1C2A44;
    background-color: #1EA7FD;
}

#table-filters .current-position:hover {
    background-color: #1EA7FD;
}

.sortable-header:hover {
    text-decoration: underline;
    cursor: pointer;
}

.clicked-row {
    background-color: #D2EDFF;
}

.clicked-row:hover {
    background-color: #D2EDFF;
}

.rankings-table .drafted {
  background-color: #007462;
}
.rankings-table .drafted:hover {
  background-color: #007462;
}

.switch {
    position: relative;
    width: 38px;
    height: 20px;
    margin-left: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    transition: 0.3s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #ffffff;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #1EA7FD;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

#hide-drafted {
    font-family: 'Oswald', 'Arial';
    font-size: 16px;
    margin-left: 4px;
}

#draft-mode {
    font-family: 'Oswald', 'Arial';
    font-size: 16px;
    margin-left: 4px;
}

#scarcity-counts {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    width: 60%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#scarcity-label {
    font-family: 'Oswald', 'Arial';
    padding: 0px 8px;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.scarcity-section {
    background-color: #FFFFFF;
    border:1px solid #E5E7EB;
    border-radius:12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 0 4px;
}

.scarcity-position {
    font-family: 'Oswald', 'Arial';
    margin: 0;
    padding: 4px 0;
}

.scarcity-percent {
    margin: 0;
    padding: 4px 0;
}

.scarcity-bar-container {
    width: 80%;
    height: 10px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.scarcity-bar {
    transition: .25s;
    height: 100%;
}

.badge {
    background-color: red;
    color: white;
    padding: 4px 6px;
    border-radius: 50%;
    min-width: 20px;
}

.player-line-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.player-sub {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #404040;
}

.player-sub img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
}

.qb {
    margin-left: 3px;
    background-color: #3f5865;
    color: white;
    border-radius: 25%;
    padding: 0 5px;
}

.rb {
    margin-left: 3px;
    background-color: #62b4ff;
    color: white;
    border-radius: 25%;
    padding: 0 5px;
}

.wr {
    margin-left: 3px;
    background-color: #35dd4d;
    color: white;
    border-radius: 25%;
    padding: 0 5px;
}

.te {
    margin-left: 3px;
    background-color: #ff3079;
    color: white;
    border-radius: 25%;
    padding: 0 5px;
}

.tier1 {
    background-color: #FF4C4C;
    color: white;
    border-radius: 25%;
    padding: 0 5px;
}

.tier2 {
    background-color: #FF914C;
    color: white;
    border-radius: 25%;
    padding: 0 5px;
}

.tier3 {
    background-color: #FFC34C;
    color: white;
    border-radius: 25%;
    padding: 0 5px;
}

.tier4 {
    background-color: #FFE24C;
    color: white;
    border-radius: 25%;
    padding: 0 5px;
}

.tier5 {
    background-color: #D4FF4C;
    color: white;
    border-radius: 25%;
    padding: 0 5px;
}

.tier6 {
    background-color: #8CFF4C;
    color: white;
    border-radius: 25%;
    padding: 0 5px;
}

.tier7 {
    background-color: #4CFF91;
    color: white;
    border-radius: 25%;
    padding: 0 5px;
}

.tier8 {
    background-color: #4CDD91;
    color: white;
    border-radius: 25%;
    padding: 0 5px;
}

.rankings-table .right-align {
    text-align: right;
    padding-right: 8px;
}

#overlay {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.6);
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 200;
}

#draft-panel {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    position: relative;
}

.draft-button {
    padding: 4px 16px;
    border-radius: 6px;
    font-size: 20px;
    transition: 0.15s;
    border: none;
    background-color: #1EA7FD;
    color: #1C2A44;
    font-family: 'Oswald', 'Arial';
    margin-left: 8px;
}

.draft-button:hover {
    background-color: #1B96E4;
    cursor: pointer;
}

.cancel-button {
    padding: 4px 16px;
    border-radius: 6px;
    font-size: 20px;
    transition: 0.15s;
    border: none;
    background: #e0e0e0;
        color: #333;
    font-family: 'Oswald', 'Arial';
}

.cancel-button:hover {
    background: #d5d5d5;
    cursor: pointer;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#draft-panel h3 {
    margin: 0;
}

.draft-panel-header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.draft-img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    background-color: #dddddd;
    border-radius: 50%;
}

.draft-panel-header-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.draft-stats-div {
    display:flex;
    gap: 8px;
    padding: 0 8px;
}

.draft-stats-div p {
    margin: 0;
}

.draft-panel-stats h4 {
    margin: 8px 0 4px 0;
}

.draft-stats {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.draft-statline {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border:1px solid #E5E7EB;
    border-radius: 12px;
    width: 72px;
}

.draft-stats-div .draft-stat {
    margin-top: -4px;
    font-weight: 500;
    font-size: 20px;
}