#settings-container {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}

#replacement-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    min-width: 250px;
    background-color: #FFFFFF;
    border:1px solid #E5E7EB;
    border-radius:12px;
}

.settings-header {
    font-size: 30px;
    margin: 8px 0;
    color: #1C2A44;
}

#replacement-level-inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 8px 0;
    padding: 0 8px;
}

.replacement-level-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.replacement-level-position input {
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 18px;
    border: solid 2px #000000;
    font-family: 'Oswald', 'Arial';
    width: 50px;
}

.replacement-level-position label {
    font-size: 20px;
    font-family: 'Oswald', 'Arial';
}

.update-button {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 4px 24px;
    border-radius: 3px;
    font-size: 22px;
    transition: 0.2s;
    border: none;
    background-color: #1EA7FD;
    color: #1C2A44;
    font-family: 'Oswald', 'Arial';
}

.update-button:hover {
    background-color: #1B96E4;
    cursor: pointer;
}

.update-button:active {
    transition: 0s;
    opacity: 0.8;
}

#replacement-warning {
    margin: 0;
    color: #d0342c;
    font-size: 16px;
    font-family: 'Oswald', 'Arial';
}

#adp-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    min-width: 250px;
    background-color: #FFFFFF;
    border:1px solid #E5E7EB;
    border-radius:12px;
}

#adp-form {
    padding: 0 16px;
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    justify-content: center;
}

#adp-form label {
    font-size: 20px;
    font-family: 'Oswald', 'Arial';
}

#tier-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-color: #FFFFFF;
    border:1px solid #E5E7EB;
    border-radius:12px;
}

#tier-value-inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 8px 0;
    padding: 0 8px;
}

.tier-values {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.tier-values input {
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 18px;
    border: solid 2px #000000;
    font-family: 'Oswald', 'Arial';
    width: 50px;
}

.tier-values label {
    font-size: 20px;
    font-family: 'Oswald', 'Arial';
}

#points-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    min-width: 245px;
    background-color: #FFFFFF;
    border:1px solid #E5E7EB;
    border-radius:12px;
}

#point-value-inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 8px 0;
    padding: 0 8px;
}

.point-values {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.point-values input {
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 18px;
    border: solid 2px #000000;
    font-family: 'Oswald', 'Arial';
    width: 50px;
}

.point-values label {
    font-size: 20px;
    font-family: 'Oswald', 'Arial';
}

#league-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    min-width: 250px;
    background-color: #FFFFFF;
    border:1px solid #E5E7EB;
    border-radius:12px;
}

.league-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

#league-inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 8px 0;
    padding: 0 8px;
}

.league-dropdown select {
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 18px;
    border: solid 2px #000000;
    font-family: 'Oswald', 'Arial';
    
}

.league-dropdown label {
    font-size: 20px;
    font-family: 'Oswald', 'Arial';
}

