.download-header {
    margin-bottom: 16px;
}

.download-button {
    margin: 8px 0;
    padding: 4px 24px;
    border-radius: 3px;
    font-size: 22px;
    transition: 0.2s;
    border: none;
    background-color: #1EA7FD;
    color: #1C2A44;
    font-family: 'Oswald', 'Arial';
    margin-top: 16px;
}

.download-button:hover {
    background-color: #1B96E4;
    cursor: pointer;
}

.download-button:active {
    transition: 0s;
    opacity: 0.8;
}

#spreadsheets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spreadsheet-card {
    width: 500px;
    background-color: #FFFFFF;
    border:1px solid #E5E7EB;
    border-radius:12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.download-subheader {
    margin: 8px 0 0 0;
}

ul {
    margin: 8px 0;
    width: 60%;
}

.spreadsheet-features {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.spreadsheet-card p {
    margin: 4px 0;
}

.icons {
    color: #1EA7FD;
}

#spreadsheets-body {
    display: flex;
    align-items: stretch;
    gap: 8px;
}